.imagen-fondo-usuario{
    background-image: url(../img/usuario.jpg);
}
.imagen-fondo-mascota{
    background-image: url(../img/mascota.jpg);
}
.imagen-fondo-especialista{
    background-image: url(../img/especialista.jpg);
}
.imagen-fondo-turnos{
    background-image: url(../img/turno.png);
}
.imagen-fondo-guarderia{
    background-image: url(../img/guarderia.jpg);
}
.imagen-fondo-veterinaria{
    background-image: url(../img/veterinaria.jpg);
}
.imagen-fondo-peluqueria{
    background-image: url(../img/peluqueria.jpg);
}

.index-derecha {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 200px;
}

@media (max-width: 992px) {
    .index-izquierda, .index-derecha {
        background-position: top;
        width: 100%;
        height: 500px;
    }
}

.index-izquierda {
    background-position: left 25% center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 200px;
}

.clickable-card {
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.clickable-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .15);
}

@media (max-width: 992px) {
    .clickable-card:hover {
        transform: scale(1.03);
    }
}

.clickable-card > a {
    color: black;
}

.footer-link {
    filter: grayscale(1);
    transition: .5s;
}

.footer-link:hover {
    filter: grayscale(0);
    transform: scale(1.15);
}

.main {
    margin-bottom: 4.5rem !important;
}
