<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de practica de Spring Boot + Thymeleaf para el curso de Egg Educación"/>
    <meta name="author" content="Gaston Avila"/>
    <title>Formulario de turnos de guarderia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container mt-5 main">
        <h1 th:text="${title}"></h1>
        <hr class="mb-5 col-xl-12"/>
        <form id="formulario" class="needs-validation" th:action="@{/turnos-guarderia/__${action}__}" method="POST"
              th:object="${turno}" autocomplete="off" novalidate>
            <input type="hidden" th:field="*{codigo}"/>
            <div class="form-floating mb-3 col-xl-6">
                <input id="fecha" class="form-control" type="date" placeholder="Fecha" th:field="*{fecha}" required/>
                <label for="fecha">Fecha</label>
                <div class="invalid-feedback">La fecha es obligatoria</div>
            </div>
            <div class="form-floating mb-3 col-xl-6">
                <select id="hora" class="form-select" aria-label="Elegir horario" th:field="*{hora}">
                    <option value="" selected>Elegir horario del turno</option>
                    <option th:each="hr : ${horarios}" th:text="|${hr}|"
                            th:value="${hr}"></option>
                </select>
                <label for="hora">Horario</label>
            </div>
            <div class="form-floating mb-3 col-xl-6">
                <select id="especialista" class="form-select" aria-label="Elegir especialista" th:field="*{especialista}">
                    <option value="" selected>Elegir especialista</option>
                    <option th:each="especialista : ${especialistas}" th:text="|${especialista.nombre} ${especialista.apellido} ${especialista.especialidad}|"
                            th:value="${especialista.dni}"></option>
                </select>
                <label for="especialista">Especialista</label>
            </div>
            <div class="form-floating mb-3 col-xl-6">
                <select id="cliente" class="form-select" aria-label="Elegir cliente" th:field="*{cliente}">
                    <option value="" selected>Elegir cliente</option>
                    <option th:each="usuario : ${clientes}" th:text="|${usuario.nombre} ${usuario.apellido}|"
                            th:value="${usuario.dni}"></option>
                </select>
                <label for="cliente">Cliente</label>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <button class="btn btn-success" type="submit"
                            th:text="${action == 'guardar'} ? 'Crear turno' : 'Guardar cambios'"></button>
                </div>
            </div>
        </form>
    </div>

    <footer class="footer py-3 bg-dark fixed-bottom">
        <div class="container d-flex justify-content-center">
            <span class="text-muted">&copy; Gaston Avila - 2021</span>
            <a class="text-decoration-none ms-3 footer-link" href="https://www.linkedin.com/in/gastonavilaok/"
               target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
</body>
</html>